In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [5]:
df = pd.read_csv('cardata.csv')

In [6]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [7]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [10]:
exp_fit = df.experience.median()

In [11]:
exp_fit

5.0

In [12]:
df.experience = df.experience.fillna(exp_fit)

In [13]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [15]:
reg = linear_model.LinearRegression()

In [19]:
reg.fit(df[['speed','car_age',"experience"]],df.risk)

LinearRegression()

In [27]:
reg.predict([[160,10,5]])

array([71.37146872])

In [28]:
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [29]:
reg.intercept_

33.410000910435855

In [31]:
 0.33059217*160 + 1.61053246*10 + -6.20772074*5 + 33.410000910435855

71.37146901043586